header.header{
	overflow: hidden;
	object-fit: cover;

}
div#carouselExampleCaptions{
	overflow: hidden;
	object-fit: cover;
}

div.carousel-item > img {
	margin: 0;
	width: 100vw;
	height: 400px;
	object-fit: cover;
	overflow: hidden;
}

* {
	font-family: "Noto Sans TC", sans-serif;
}

footer {
	background-color: #f7e8dd;
}

.mytextcolor {
	color: #eb702a;
}

.underline {
	position: relative;
}