<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    
    	<property name="connection.datasource">java:comp/env/jdbc/TestDB</property>
<!--  -->
<!--        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>-->
<!--        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/woof?serverTimezone=Asia/Taipei</property>-->
<!--        <property name="hibernate.connection.username">root</property>-->
<!--        <property name="hibernate.connection.password">password</property>-->
        
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <mapping class="com.woof.classtype.entity.ClassType" />
        <mapping class="com.woof.groupcourse.entity.GroupCourse" />
        <mapping class="com.woof.groupcourseorder.entity.GroupCourseOrder" />
        <mapping class="com.woof.groupcourseschedule.entity.GroupCourseSchedule" />
        <mapping class="com.woof.groupcoursescheduledetail.entity.GroupCourseScheduleDetail" />
        <mapping class="com.woof.skill.entity.Skill" />
        <mapping class="com.woof.skillslist.entity.SkillsList" />
        <mapping class="com.woof.member.entity.Member"/>
        <mapping class="com.woof.trainer.entity.Trainer"/>
        <mapping class="com.woof.appointmentdetail.entity.AppointmentDetail"/>
        <mapping class="com.woof.promotionactivity.entity.PromotionActivity"/>
        <mapping class="com.woof.privatetrainingappointmentform.entity.PrivateTrainingAppointmentForm"/>
		<mapping class="com.woof.chatroom.entity.Chatroom"/>
		<mapping class="com.woof.member.entity.Member"/>
		<mapping class="com.woof.commentreport.entity.CommentReport"/>
		<mapping class="com.woof.classorder.entity.ClassOrder"/>
		<mapping class="com.woof.nontrainingschedule.entity.NonTrainingSchedule"/>
		<mapping class="com.woof.administrator.entity.Administrator" />
        <mapping class="com.woof.functionpermission.entity.FunctionPermission"/>
		<mapping class="com.woof.latestnews.entity.LatestNews"/>
    </session-factory>
</hibernate-configuration>
