img.background{
    margin: 0;
    width: 100vw;
    height: 500px;
    object-fit: cover;
    overflow: hidden;
}

button.myBtn{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #eb702a;
    border: none;
    font-size: 20px;
    color: white;
}

button.myBtn:hover{
    background-color: #F79B66;
    color: #084298;
}

h1.h5{
    color: #eb702a;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: auto;
}

ul > li{
    list-style-type: none;
    font-size: 1.2rem;
}


span{
    color: #0b5ed7;
}

myTextColor{
    color: #eb702a;
}
