<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>woof</display-name>

	<!-- JDBC連線池 -->
	<!-- <resource-ref> -->
	<!-- <description>DB Connection</description> -->
	<!-- <res-ref-name>jdbc/TestDB</res-ref-name> -->
	<!-- <res-type>javax.sql.DataSource</res-type> -->
	<!-- <res-auth>Container</res-auth> -->
	<!-- </resource-ref> -->

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>com.woof.listener.InitializerListener</listener-class>
	</listener>

	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.woof.member.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/member/*</url-pattern>
		<url-pattern>/groupOrder/check</url-pattern>
		<url-pattern>/groupOrder/getGroupInfo/*</url-pattern>
		<url-pattern>/frontend/group/orderPage.jsp</url-pattern>
		<url-pattern>/frontend/member/login/membercenter.jsp</url-pattern>
		<url-pattern>/frontend/cartlist/checkout.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	<filter>
		<filter-name>LoginFilter1</filter-name>
		<filter-class>com.woof.administrator.filter.LoginFilter1</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter1</filter-name>
		<url-pattern>/administrator/*</url-pattern>
		<url-pattern>/backend/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>


	<servlet>
		<servlet-name>scheduler</servlet-name>
		<servlet-class>com.woof.scheduler.GroupScduleScheduler</servlet-class>
		<init-param>
			<param-name>timer</param-name>
			<!--	60秒  -->
			<param-value>60000</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>scheduler</servlet-name>
		<url-pattern>/scheduler</url-pattern>
	</servlet-mapping>

</web-app>